.mdl-layout__header-row {
  padding-left: 24px !important;
}
.page-content {
  padding-top: 30px;
  text-align: center;
}
.urlbox {
  width: 400px;
  margin: auto;
}
#myvideo {
  width: 70%;
  height: auto;
}
