extends base.jade

block content
    h1 About
    p Here is a sick about page.
    p Created by <a href="http://nicholasnassar.com/">Nicholas Nassar</a>
    p
        iframe(src='http://ghbtns.com/github-btn.html?user=niccholaspage&type=follow&count=true&size=large', height='30', width='240', frameborder='0', scrolling='0', style='width:240px; height: 30px;', allowtransparency='true')