extends base.jade

block content
    p Here is a sick about page.
    p Created by <a href="http://nicholasnassar.com/">Nicholas Nassar</a>
    p
        a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(href='https://github.com/niccholaspage') My GitHub