extends base.jade

block content
    p Welcome to nPlay! Create a channel to start, or join the main channel (viewer discretion is advised)
    p
        a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(href='/channel/main') Main Channel
    p
        a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(href='/channel/create') Create Channel