extends base.jade

block scripts
    script(src='assets/js/player.min.js')

block content
    h1 nPlay
    p Welcome to nPlay
    video#myvideo(controls, onclick='toggle(this)')
    p URL:
        input#url