extends base.jade

block content
    h1 nPlay
    p Welcome to nPlay! Create a channel to start, or join the main channel (viewer discretion is advised)
    p
        a#channel.btn.btn-link(href='/channel/main') Main Channel
    p
        a(href='/channel/create') Create Channel