extends base.jade

block scripts
    script(src='/assets/js/player.min.js')

block content
    h1 nPlay
    div.alert.alert-success#success(role='alert')
        span.glyphicon.glyphicon-ok(aria-hidden='true')
        span.sr-only Success:
        |   Here's a success message.
    div.alert.alert-danger#error(role='alert')
        span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
        span.sr-only Error:
        |   WebSocket closed! This is Luke's fault. Try refreshing the page.
    video#myvideo(controls, onclick='toggle(this)')
    p
        div.urlbox.input-group
            span#addon.input-group-addon URL
            input#url.form-control(type='text', placeholder='Direct video link or YouTube!', aria-describedby='addon')
    p= 'Share this link with your friends: '
        a#channel(href='#') Channel Link