extends base.jade

block scripts
    script(src='/assets/js/player.min.js')

block content
    video#myvideo(controls, onclick='toggle(this)')
    br
    div#url-container.mdl-textfield.mdl-js-textfield
        input#url.mdl-textfield__input(type='text')
        label.mdl-textfield__label(for='url') Direct video or YouTube URL...
    p= 'Share this link with your friends: '
        a#channel(href='#') Channel Link
    div#snackbar.mdl-js-snackbar.mdl-snackbar
        div.mdl-snackbar__text
        button.mdl-snackbar__action(type='button')